<div class="container">
    <div class="tile is-ancestor mt-5">
        <div class="tile is-4 is-vertical is-parent">
            <article class="tile is-warning notification is-child box is-clickable is-hovered" routerLink='productos/crear-productos'>

                    <p class="title">Crear producto</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque
                    tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                
            </article>

            <!-- <article class="tile is-child box is-info notification is-clickable">
                <p class="title">Listar categorías</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque
                    tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
            </article> -->
        </div>
        <div class="tile is-parent box notification is-light is-clickable is-hovered" style="max-width: 100%;" routerLink='categorias/ver-categorias'>
            <div class="tile is-child">
                <p class="title"> Lista de productos</p>
                <app-ver-categorias></app-ver-categorias>
            </div>
        </div>
    </div>
</div>