<div class="card">
    <div class="card-image">


        <swiper [pagination]="{dynamicBullets: true}" class="mySwiper">
            <ng-template *ngFor="let image of product?.image_galery" swiperSlide>
                <img [src]="prefix + 'media/images/' + image" alt="Category image">
            </ng-template>
        </swiper>

    </div>
    <header class="card-header">
        <p class="card-header-title is-5">
            {{product?.name}}
        </p>
    </header>
    <div class="card-content">
        <div class="content">
            {{product?.description}}
        </div>
    </div>
    <footer class="card-footer">
        <p class="card-footer-item">
            <span>
                {{product?.price | currency}}
            </span>
        </p>
        <p class="card-footer-item">
            <button class="button is-light is-rounded is-danger">Cancelar</button>
            <button class="button is-success is-rounded">
                Añadir
            </button>
        </p>
    </footer>
</div>