<swiper [config]="config" class="mySwiper mt-5 is-centered">
    <ng-template *ngFor="let product of productos" swiperSlide>
        <div class="card block" (click)="$event.stopPropagation()">
            <div class="card-image" [routerLink]="['/productos', product.id]">
                <figure class="image is-4by3">
                    <img [src]="prefix + 'media/images/' + product.image_galery[0]" alt="Category image">
                </figure>
            </div>
            <header class="card-header">
                    <p class="card-header-title is-5">
                        {{product.name}}
                    </p>
            </header>
            <footer class="card-footer m-2 is-flex is-justify-content-flex-end">
                <span class="card-footer-item">
                    <button class="button is-danger is-small is-rounded is-outlined" (click)="eliminar(product.id)">
                        <strong>Eliminar</strong>
                    </button>
                </span>
                <span class="card-footer-item">
                    <button class="button ml-2 is-info is-small is-rounded is-outlined"
                        [routerLink]="['/panel-control/productos/editar-producto', product.id]">
                        <strong>Editar</strong></button>
                </span>
            </footer>
        </div>
    </ng-template>
</swiper>