<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" [routerLink]="['/home']">
        <img [src]="prefix+'media/images/logo.png'">
        <span> 3Dinner</span>
      </a>
  
      <a role="button is-primary" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="false"></span>
        <span aria-hidden="false"></span>
        <span aria-hidden="false"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" [routerLink]="['/home']">
          Home
        </a>
  
        <a class="navbar-item" [routerLink]="['/home']">
          categorías
        </a>
        <a class="navbar-item" [routerLink]="['/productos']">
            productos
        </a>
  
        <div *ngIf="isLoged" class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Panel de control
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item" [routerLink]="['panel-control/categorias']">
              categorías
            </a>
            <a class="navbar-item" [routerLink]="['panel-control/productos']">
              productos
            </a>
            <a class="navbar-item" [routerLink]="['panel-control/usuarios']">
              usuarios
            </a>
            <a class="navbar-item" [routerLink]="['panel-control/ventas']">
                ventas
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" [routerLink]="['/empleados']">
              empleados
            </a>
          </div>
        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a *ngIf="isLoged" class="button is-success">
              <strong>Registrar empleado</strong>
            </a>
            <a *ngIf="!isLoged" class="button is-primary" [routerLink]="['/login']">
              ingresar
            </a>
            <button *ngIf="isLoged" class="button is-primary" [routerLink]="['/']" (click)="logOut()" >
              Salir
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>