<div class="container mt-5">
    <div class="box m-2">
        <h1 class="title is-2 is-faded has-text-grey">
            Crear producto
        </h1>
        <form class="block p-5 is-flex is-flex-direction-column" [formGroup]="form" (submit)="submit()">
            <div class="columns is-multiline is-mobile">
                <div class="column is-full-mobile is-half-tablet is-half-desktop">
                    <p class="control">
                        <input type="text" class="input is-rounded" formControlName="name" placeholder="Nombre">
                    </p>
                </div>
                <div class="column is-full-mobile is-half-tablet is-half-desktop">
                    <div class="control">
                        <div class="select is-rounded" style="width:100%;">
                            <select formControlName="category_id" placeholder="categoría" style="width: 100%;">
                                <option hidden selected>Categoría</option>
                                <option *ngFor="let category of categorias?.results; let i=index" [value]="category.id">
                                    {{category.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="column is-full">
                    <p class="control">
                        <textarea rows="2" class="textarea is-rounded" formControlName="short_description"
                            placeholder="Descripción corta"></textarea>
                    </p>
                </div>
                <div class="column is-full">
                    <p class="control">
                        <textarea rows="4" class="textarea" formControlName="description" placeholder="Descripción">

                        </textarea>
                    </p>
                </div>

                <div class="column is-full-mobile is-half-desktop is-half-tablet">
                    <p class="control">
                        <input type="number" formControlName="price" class="input is-rounded" placeholder="Precio">
                    </p>
                </div>

                <div class="column is-full-mobile is-half-desktop is-half-tablet">
                    <p class="control">
                        <input type="number" formControlName="BaseIVA" class="input is-rounded"
                            placeholder="% de impuesto">
                    </p>
                </div>
                <div class="column is-full tagcontainer">
                    <p class="control">
                        <ng-select [items]="items" [addTag]="true" placeholder="Ingredientes"
                            [multiple]="true" [selectOnTab]="true" [isOpen]="false" formControlName="ingredients">
                        </ng-select>
                    </p>

                </div>

            </div>
            <div class="file is-centered is-primary mt-5 has-name is-boxed">
                <label class="file-label">
                    <input class="file-input" (change)="onFileChange($event)" type="file" name="resume" accept="image/*"
                        multiple="multiple">
                    <span class="file-cta">
                        <span class="file-icon">
                            <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">
                            Galería de imágenes
                        </span>
                    </span>
                    <span *ngFor="let file of files" class="file-name">
                        {{file?.name}}
                    </span>
                </label>
            </div>
            <div class="buttons is-flex is-justify-content-flex-end mt-5 w-100">
                <button class="button is-danger is-rounded is-medium" routerLink="../../"> Cancelar </button>
                <button class="button is-success is-rounded is-medium" type="submit" [disabled]="form.invalid">
                    Crear
                </button>
            </div>
        </form>
    </div>
</div>