<div class="container block box is-centered is-fullhd columns mt-4">
    
    <div class="column is-one-quarter-desktop is-for-quarters-mobile is-two-quarters-tablet" *ngFor="let category of categories">
        <div class="card" [routerLink]="['/productos', category.id]">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img [src]="prefix + 'media/images/' + category.image" alt="Category image">
                </figure>
            </div>
            <div class="card-content">
                <div class="content">
                    <p class="title is-5">
                        {{category.name}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>